@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-banner {
  min-height: 420px;
  //background: linear-gradient(263.89deg, #E9EAEE 59.25%, #FFFFFF 100%);
  @media (max-width: $breakpoint-md) {
    min-height: 140px;
    text-align: center;
  }

  &:after {
    content: '';
    width: 40%;
    height: 100%;
    // background: linear-gradient(270deg, rgba(233, 234, 237, 0.7) 0%, #E9EAED 100%);
    background: linear-gradient(263.89deg, #E9EAEE 59.25%, #FFFFFF 100%);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      position: absolute;
      width: 60%;
      height: 100%;
      right: 0;

      &:after {
        content: '';
        background: linear-gradient(270deg, rgba(233, 234, 237, 0) 0%, #E9EAED 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}


.s-doctors {
  padding: 71px 0 60px 0;
}

.s-consultation {
  margin-bottom: 60px;

  &.mb-120 {
    margin-bottom: 120px;
  }

  & .heading {
    color: #fff;
    margin-bottom: 19px;
    -webkit-text-fill-color: #fff
  }

  & .btn-white {
    width: 100%;
  }

  &__inner {
    background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
    padding: 33px 37px 49px 37px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    @media (max-width: $breakpoint-md) {
      padding: 14px 20px 21px 20px;
    }
  }

  &__form {


  }

}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* MAIN SLIDER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.s-main {
  & .container {
    @media (max-width: 1120px) {
      padding: 0;
    }
  }

  &__row {
    @media (max-width: $breakpoint-md) {
      flex-direction: column-reverse;
    }

  }

  &__slider {

  }
}

.main-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  @media (max-width: $breakpoint-md) {
    margin-top: 80px;
    height: calc(100vh - 80px);
  }
  @media (max-width: $breakpoint-sm), (max-height: 750px) {
    height: calc(100vh - 80px + 180px);
  }

  &:before {
    content: "";
    height: 612px;
    width: 400px;
    background: url("../img/decor-logo.svg");
    position: absolute;
    left: -150px;
    bottom: 50px;
    z-index: 2;
    opacity: .2;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }


  &:after {
    content: '';
    background: linear-gradient(263.89deg, #E9EAEE 59.25%, #FFFFFF 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      height: calc(100vh - 260px);
      top: auto;
      bottom: 0;
    }
  }

  &__info {
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    z-index: 20;
    width: 100%;
    max-width: 1180px;
    color: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    @media (max-width: $breakpoint-md) {
      text-align: center;
      top: 20%;
      transform: translateX(-50%);
      padding: 15px;
    }
  }


  &__heading {
    color: #000;
    margin-bottom: 17px;

    & span {
      background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--sub {
      color: #000;
      margin-bottom: 6px;
      @include fontSize(24, 32);
      @media (max-width: 360px) {
        font-size: 20px;
      }
    }
  }

  &__description {
    color: #000;
    margin-bottom: 26px;
    @include fontSize(18, 24);
    padding-left: 16px;

    &:after {
      content: '';
      width: 3px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
  }

  &__heading, &__heading-sub, &__description {
    max-width: 480px;

    @media (max-width: $breakpoint-lg) {
      width: 100%;
    }
  }

}

.main-slide .bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  @media (max-width: $breakpoint-md) {
    width: 100%;
    height: 260px;
  }

  &:after {
    content: '';
    background: linear-gradient(270deg, rgba(233, 234, 237, 0) 0%, #E9EAED 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}


.main-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}


.swiper-container.swiper-thumbs-bottom.swiper-thumbs {
  width: 100%;
  max-height: 570px;
}


.s-about {
  &__inner {
    padding-left: 20px;
    @media (max-width: $breakpoint-md) {
      padding-left: 12px;
    }
  }

  & .heading {
    margin-left: 0;
  }

  & .btn-more {
    margin-top: 32px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      padding-bottom: 62%;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 24px;
      }
    }
  }

  & .benefit {
    &__heading {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;
      }
    }

    &__wrap {
      margin-bottom: 32px;

      & .column {
        &:not(&:last-child) {
          @media (max-width: $breakpoint-md) {
            margin-bottom: 18px;
          }
        }
      }
    }

    &__icon {
      width: 44px;
      height: 44px;
      object-fit: contain;
      object-position: center;
      @media (max-width: $breakpoint-md) {
        width: 32px;
        height: 32px;
      }
    }

    &__item {
      display: grid;
      grid-template-columns: 44px 1fr;
      gap: 10.5px;
      padding: 0 10px 0 20px;
      @media (max-width: $breakpoint-md) {
        padding-left: 12px;
      }

      &:after {
        content: '';
        width: 2px;
        height: 35px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #A59389;
      }
    }
  }
}


