@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-thanks {
  height: 80vh;

  &__description, & .s-thanks__heading-sub {
    color: #1D1D1B;
  }

  &__heading {
    margin-bottom: 12px;

    &-sub {
      @include fontSize(26, 32);
      margin-bottom: 12px;
    }
  }

  & .description {

  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;

      &:after {
        content: '';
        background: radial-gradient(52.65% 86.07% at 52.65% 50%, #E9EAED 0%, rgba(233, 234, 237, 0.7) 100%);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.s-error {
  height: 80vh;

  &__description {
    margin-bottom: 26px;
    @include fontSize(40, 64);
  }

  &__number {
    max-width: 385px;
    height: 204px;
    object-fit: contain;
    margin: 0 auto 26px auto;
    @media (max-width: $breakpoint-md) {
      max-width: 260px;
      margin-bottom: 20px;
    }
  }

  &__bg {
    height: 100%;
    width: 60%;
    object-fit: cover;
    margin-left: auto;

    &-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;

      &:after {
        content: '';
        background: radial-gradient(52.65% 86.07% at 52.65% 50%, #E9EAED 0%, rgba(233, 234, 237, 0.7) 100%);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}