@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-price {
  padding: 71px 0;

  & table {
    width: 100%;

    caption {
      font-weight: 500;
      font-size: 20px;
      text-align: left;
      padding: 25px ;
    }
   & td{
     font-weight: 300;
     font-size: 20px;

     padding: 25px ;
  }
  }
}