@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {

  background:  #1D1D1B url(../img/bg-footer.svg) top;
  border-top: 1px solid #fff;
  position: relative;
  //margin-top: 50px;

  & .logo {
    &__link {
      display: block;
      margin-bottom: 20px;
    }

    &__text {
      color: #ffffff;
      font-size: 20px;
    }

    &__wrap {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 32px;

        width: auto;
        height: auto;
      }
    }
  }


  &-item {
    &:not(&:last-child) {
      @media (max-width: $breakpoint-md) {
        margin-bottom: 0;
      }
    }

    &__heading {
      margin-bottom: 20px;
      color: $accent-color;
      font-size: 18px;
    }
  }


  &__main {
    padding: 32px 0;
  }

  &__bottom {
    padding: 18px 0 36px 0;
    border-top: 1px solid rgba(215, 215, 215, .2);
    @media (max-width: $breakpoint-md) {
      text-align: center;
      padding: 24px 0;
    }
  }

  .menu {
    &__heading {
      background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
      -webkit-background-clip: text;

      -webkit-text-fill-color: transparent;
      font-size: 24px;
      margin-bottom: 25px;
    }

    &-item {
      & + .menu-item {
        margin-top: 9px;
      }

      & a {
        font-size: 18px;
        color: #C1C1C1;
      }

    }
  }


  .contact {
    &__item {
      display: grid;
      grid-template-columns: 25px 1fr;
      gap: 6px;
      align-items: center;

      & + .contact__item {
        margin-top: 20px;
      }

      & i {
        background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        &.icon {
          &-phone {
            font-size: 18px;
          }

          &-message {
            font-size: 16px;
          }

          &-pin {
            font-size: 23px;
          }

          &-clock {
            font-size: 20px;
          }
        }
      }
    }

    &__title {
      font-size: 20px;
      color: #fff;

      & span {
        font-size: 18px;
        font-weight: 300;
        display: block;
      }
    }

  }

  & .social {
    align-items: end;

    &__wrap {
      background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 24px 25px;
      transform: translateY(-50%);
      @media (max-width: $breakpoint-md) {
        justify-content: center;
        text-align: center;
      }
    }

    &__title {
      @include fontSize(24, 35);
      color: #fff;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
    }

    &__item {
      & + .social__item {
        margin-left: 21px;
      }

      & i {
        background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
      }
    }
  }

  & .develop {
    @media (min-width: $breakpoint-md) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
    @media (max-width: $breakpoint-md) {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 24px
    }

    &__link, &__text {
      font-size: 18px;
    }

    &__text {
      color: rgba(255, 255, 255, .6);
    }

    &__link {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      padding-left: 10px;
    }
  }

  & .copyright {
    font-size: 18px;
    color: rgba(255, 255, 255, .6);
  }
}

