@import "../abstracts/mixins";
@import "../abstracts/variables";


.logo {
  &__wrap {
    width: 180px;
    height: 120px;
    display: block;
    @media (max-width: $breakpoint-md) {
      width: 85px;
      height: 57px;
    }
  }

}


.header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background:  #1D1D1B url(../img/bg-footer.svg) top ;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.04);
  @include transition(.5);
  padding: 19px 0;
  @media (max-width: $breakpoint-md) {
    padding: 13px 0;
  }

  & .contact {
    width: calc(100% - 180px);
    @media (max-width: $breakpoint-lg) {
      display: block;
      padding: 27px 0;
      width: auto;
    }

    &__title {
      color: #fff;
      font-size: 20px;
    }

    & i {
      font-size: 20px;
      background: linear-gradient(88.24deg, #E5E3E2 0%, #968983 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-right: 7px;
    }

    &__item {
      // align-self: stretch;
      //flex-grow: 1;
      @media (max-width: $breakpoint-lg) {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      & + .contact__item {
        margin-left: 15px;
        @media (max-width: $breakpoint-md) {
          margin: 30px 0 0 0;
        }
      }
    }
  }

  & .social {

    @media only screen and (max-width: 1200px) and (min-width: 991px) {
      display: none !important;
    }

    &__item {
      & + .social__item {
        margin-left: 15px;
        @media (max-width: $breakpoint-md) {
          margin-left: 10px;
        }
      }

      & a {
        background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);
        @media (max-width: $breakpoint-md) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  & .logo {
    &__wrap {
      @media (max-width: $breakpoint-xl) {
        width: 160px;
      }
      @media (max-width: $breakpoint-md) {
        width: 85px;
        height: 57px;
      }
    }
  }


  & .navbar {
    @media (min-width: $breakpoint-lg) {
      width: calc(100% - 270px);
      max-width: 880px;
    }
    @media (max-width: $breakpoint-lg) {
      height: calc(100vh - 83px);
      background-color: #000;
      position: fixed;
      top: 83px;
      transition: all 1.2s ease;
      z-index: 2;
      width: 100%;
      right: -100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      &.is-visible {
        right: 0;
        transition: all .5s ease;
      }
    }

    & .menu {
      @media (min-width: $breakpoint-lg) {
        display: flex;
        justify-content: space-between;
      }
      @media (max-width: $breakpoint-lg) {
        margin: 0;
        text-align: center;
      }

      &-item {
        @media (max-width: $breakpoint-lg) {
          padding: 0;
          display: block;
          height: auto;
          margin: 0;
        }

        & + .menu-item {
          @media (max-width: $breakpoint-lg) {
            margin: 0;
          }
        }

        & a {
          font-weight: 400;
          font-size: 25px;
          line-height: 1.2;
          color: #fff;
          @include transition(.5);
          position: relative;
          display: block;
          @media (max-width: $breakpoint-lg) {
            padding: 25px 15px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
          }
          @media (min-width: $breakpoint-lg) {
            &:after {
              content: '';
              width: 0;
              height: 1px;
              background-color: #000;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              @include transition(.5);
            }
          }
        }

        &:hover, &.current-menu-item {
          & > a {
            @media (min-width: $breakpoint-lg) {
              &:after {
                width: 40px;
                @include transition(.5);
              }
            }
          }
        }

        &.current-menu-item {
          & > a {
            font-weight: 600;
          }
        }
      }
    }

    &__top {
      padding-bottom: 17px;
      position: relative;
      @media (max-width: $breakpoint-lg) {
        order: 2;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
      }

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, .3);
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width: $breakpoint-lg) {
          display: none;
        }
      }
    }

    &__menu {
      padding-top: 25px;
      @media (max-width: $breakpoint-lg) {
        padding: 20px 0;
        order: 1;
        border: 1px solid rgba(255, 255, 255, .3);
        border-width: 1px 0 1px 0;
      }
    }
  }
}

.burger {
  &__wrap {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: none;
    background: linear-gradient(88.24deg, #CFCFCF 0%, #938C89 100%);

    @media (max-width: $breakpoint-lg) {
      display: flex;
      width: 40px;
      height: 40px;
    }

    &.active {

      & .burger {
        & span {
          width: 100%;

          &:nth-child(1) {
            transform: translateY(6px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
    }
  }

  display: flex;
  cursor: pointer;
  width: 18px;
  height: 14px;
  justify-content: space-between;
  flex-direction: column;
  @include transition(.3);

  & > span {

    height: 1.3px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    z-index: 999;
  }
}
